{
  "parser": "babel-eslint",
  "rules": {
    "strict": false,
    "quotes": false,
    "key-spacing": false,
    "no-multi-spaces": false,
    "no-mixed-requires": false,
    "no-unused-vars": true,
    "no-undef": false,
    "no-underscore-dangle": false,
    "comma-spacing": false
  },
  "env": {
    "browser": true,
    "node": true,
    "meteor": true,
    "es6": true
  },
  "globals": {
    "Reminisce": true,
    "google": true,
    "FB": true,
    "_": true
  }
}
