
// Page elements

.dashboard-main {
  margin: $baselineheight*2 0;
}

.play-game {
  position: relative;

  .game-result {
    position: absolute;
    top: -4.5em;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    line-height: 3em;
    font-weight: bold;

    // &.won {
    //   background: #FFC3BD;
    // }

    // &.lost {
    //   background-color: #ABC5D3;
    // }

    &, &.draw {
      background-color: #FDFFC6;
    }
  }
}

.layout-2cols {
  display: flex;
  align-items: center;

  &.container-fluid {
    padding: 0px;
  }

  .layout-col-left {
    padding-left: 0px;
  }
  .layout-col-right {
    text-align: left;
    padding-right: 0px;
  }
}

.well {
  padding: 19px 19px 0px 19px !important;
}

.board {

  margin: $baselineheight*2 0;
/*   border: 1px dotted $lightneutralcolor; */


  .cell {
      position: relative;
    text-align: center;

/*     min-height: $baselineheight*7; */
    padding: $baselineheight 0;
    float: left;
    width: 33%;
/*     vertical-align: middle; */
    @include box-sizing(border-box);

    a {
        color: $tertiarycolor;
        display: block;
    }

    a:hover {
        color: darken($tertiarycolor, 10);
        text-decoration: none;
    }

    // Icons
    i {
        position: absolute;
        z-index: 2;

        top: 42%;
        left: 42%;
        width: 32px;
        height: 32px;
    }

    // &.geo i, &.globe i {
    //     top: 41.5%;
    //     left: 42.5%;
    // }

    // &.bugout i, &.list i {
    //     top: 42%;
    //     left: 41.5%;
    // }

    // &.calendar  i {
    //     top: 41%;
    //     left: 42%;
    // }

    // &.picture  i {
    //     top: 41%;
    //     left: 41%;
    // }

    img {
      cursor: pointer;
    }

    &.opponent {
        img {
            background: transparent url("") center center no-repeat;
            background-size: 76px 76px;
        }
    }

    &.answered, &.disabled {
      background: rgba(200, 200, 200, .1);
      a:hover {
        cursor: default;
        color: $tertiarycolor;
      }
      img {
        cursor: default;
      }
    }

    &.disabled {
      &, i, img {
        cursor: not-allowed;
      }
    }

    &.answered {
      background: rgba(150, 150, 150, .1);
    }

    &.win-me {
      background: lighten(rgba(181,14,17,.1), 20%);
    }

    &.win-opponent {
      background: lighten(rgba(23,90,130,.1), 20%);
    }
  }

  .cell-1, .cell-2, .cell-4, .cell-5 {
    border-right: 2px solid $lightneutralcolor;
    border-bottom: 2px solid $lightneutralcolor;
  }

  .cell-3, .cell-6 {
    border-bottom: 2px solid $lightneutralcolor;
  }

  .cell-7, .cell-8 {
    border-right: 2px solid $lightneutralcolor;
  }

  @include clearfix;

}

.modal form {
    @include zero;
}

.answers {
  @include zero;

  list-style: none;
/*   margin: 0 $gutterwidth; */

  li {
    margin: 0 0  $baselineheight/2 0;

    .btn {
        width: 100%;

    }
  }

/*
  .modal-footer i {
    vertical-align: middle;
  }
*/


}

.question {

  h4 {
    text-align: center;
  }

  .modal-footer {
/*     text-align : left; */

/*
    .progress {

    }
*/
  }


  .modal-header {
    background: $lightneutralcolor;

    .close {
      cursor: pointer;
    }
  }

  blockquote {
    @include zero;

    text-align: left;
    color: $neutralcolor;
    font-style: italic;
    padding-left: 10px;
  }

}




.post-picture {

  .picture-caption {
    font-style: italic;
    color: #666;
    margin-bottom: 15px; 
  }

  figure {
    img {
      display: block;
      border: $gutterwidth/4 solid $lightneutralcolor;
      margin: 0 auto;
    }
  }

  .zoomable img {
      cursor: move;
      max-height: 350px;
      &.zoomImg {
        max-height: none;
      }
  }

}

.post-text {
  blockquote {
    margin-bottom: 0;
  }
  img {
    max-height: 350px;
  }
}

.question-reorder {

    .btn {
        width: 100%;

    }

    ul.sortable  {

        min-height: 188px; /* 4 items */

        li {
            cursor: ns-resize;
            padding : $buttonpadding;
            margin-bottom: 10px;
            list-style: none;
            @include font-size($buttonfontsize);
            line-height : $baselineheight;
            // color : $white;
            text-align : center;
            vertical-align : middle;
            // background-color : $secondarycolor;

            border : $buttonborderwidth $buttonborderstyle $secondarycolor;
            border-radius : $buttonborderradius;

            &.item-success {
                background: $tertiarycolor;
            }
            &.item-error {
                background: $primarycolor;
            }

            &.sortable-ghost {
              opacity: 0;
            }

            .post-page img {
                height: 50px;
                margin-right: 10px;
                max-width: 100px;
            }

            .post-picture img, .post-video img, .post-link img, .post-text img {
              height: 100px;
              max-width: 100px;
            }

            span {
              line-height: 50px;
            }
        }
    }


}


.avatar-answers {

    @include clearfix;

    li {
      float: left;
      width: 45%;
      margin-right: 5%;
      clear: left;


      button {
        @include font-size(14);
        @include text-overflow;

        text-align: left;
        display: block;

        .media-object {
          display: inline;
          margin-right: $gutterwidth/4;
          width: 40px;
          height: 40px;
        }

      }

      &:nth-child(even) {
        margin-right: 0;
        margin-left: 5%;
        clear: right;
      }


    }


}


.question-subject {
  margin-bottom: 20px;
}

.question-geo {

    iframe {
      display: block;
      border: $gutterwidth/4 solid $lightneutralcolor;
      margin: 0 auto $baselineheight auto;
    }

    .map {
      img {
        max-width: none;
      }
    }

    .btn {
        width: 100%;
        margin-top: $baselineheight/2;
    }

}


.question-time {

    text-align: center;

    input[type="range"] {
      @include reverseX();
    }

    .question-input {
      input {
        margin-bottom: 15px;
      }
    }

    .post-page {
      img {
        height:       100px;
        margin-right: 10px;
        max-width:    200px;
      }

      span {
        display: block;
        margin-top: 20px;
      }
    }

    .btn {
      width: 100%;
    }
}

.question-done {
  .results {
    .correct {
      font-weight: bold;
      color: #B50E11;
    }
    .wrong {
      font-weight: bold;
      color: $secondarycolor;
    }
    margin-bottom: 20px;
  }
  .btn {
    width: 100%
  }
}


.timer {
    text-align: left;
    span {
        width: 80px;
        height: 8px;
        display: inline-block;
        margin-left: 9px;
        background: transparent url(../images/timer.png) left center no-repeat;
    }
}

.players {
  background: $lightneutralcolor;

  @include clearfix;

  p {
    @include zero;
  }

  .media-body {
    h4 {
      border-top: .375em solid $primarycolor;
      padding-top: .375em;

      span {
        float: right;
        color: $primarycolor;
      }

    }
  }

  .player {
    padding: 0 0 $baselineheight*2  0;

    &.turn {
      background: transparent url(../images/arr-red.png) 5%  80px  no-repeat;
    }

    .avatar {
      margin-top: .375em;
    }
  }

  .player.opponent {

    .media-body {
      text-align: right;
      h4 {
        border-top-color:  $secondarycolor;

          span {
            float: left;
            color: $secondarycolor;
          }

      }

    }

    &.turn {
      background: transparent url(../images/arr-blue.png) 95% 80px no-repeat;
    }
  }
}


.notifications {
    margin: $baselineheight*2 0 0 0;

    h4 {
      text-align: center;
      text-transform: uppercase;
      @include zero;
    }
}

ul.join-requests, ul.games {
    @include zero;
    list-style: none;
    padding-top: 10px;

    &.past-games {
      max-height: (60px + 25px) * 4;
      overflow: auto;
    }

    h5 {
        @include zero;
    }

    li {
      margin:  0;
      padding: 10px 0 10px 0;
      border-top: 1px dotted $neutralcolor;
    }

    .waiting-actions {
      margin-top: 5px;

      small a {
        color: $primarycolor;
      }
    }

    .waiting {
      .pull-left {
        margin-top: 4px;
      }
    }

    small {
      text-transform: uppercase;
    }

    b {
        color: $secondarycolor;
    }

    b.player {
        color: $primarycolor;
    }

}

.friends {
    @include zero;

    h5 {
        @include zero;
    }

    li {

      margin: $baselineheight/2  0 0 0;
      padding: $baselineheight/2 0 0 0;
      border-top: 1px dotted $neutralcolor;
    }

    li:first-child {
      padding-top: 0;
      border-top: none;
    }


}

#dashboard {
  padding-bottom: 65px; // height of #navigation-toggle
}

// Footer

#navigation-toggle {
  @include zero;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  border-top: 1px dotted $neutralcolor;
  padding: 5px 0;
  background-color: #fff;
}

#footer {
  .container-fluid, .grid-50, .grid-10 {
    padding: 0;
  }
  .start-game {
    line-height: 40px;
  }
  .friends-autocomplete {
    text-align: left;
    padding-left: 10px;
  }
}

// Home
.container, #app {
  height: 100%;
}

#home {
  height: 100%;

  section {
    max-width: 600px;
    margin: 0px auto;

    h1, h2 {
      text-align: center;
    }
  }

  .logo {
    text-align: center;
    margin-bottom: 2em;
  }

  header {
    display: none;
  }

  img.navbar-brand {
    padding: 5px;
    display: inline-block;
  }

  .navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }

  @media (min-width: 768px) {
    header {
      display: block;
      height: 55px;
    }

    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
    }
  }

  .carousel {
    height: 100%;

    .carousel-inner {
      height: 100%;
    }

    .item {
      height: 100%;
      padding: 1em;
      text-align: center;
      line-height: 1.6;

      &.active, &.next, &.prev {
        @include vertical-center();
      }
    }

    .carousel-control {
      color: #175A82;
      background-image: none;
    }
  }
}

.home-1,
.home-2,
.home-3,
.home-4 {
    padding: $baselineheight*3 0;

}

.home-1,
.home-3 {
    background: $lightneutralcolor;
    @include vertical($startColor: lighten($lightneutralcolor, 8%), $endColor: lighten($lightneutralcolor, 0) 50%);

    text-shadow: 0 1px 1px $white;
}

.home-1 {

    h1 {
        color: $neutralcolor;
    }

    .btn {
        text-shadow: none;
    }
}

.copy {
    // @include columns($colwidth: 50%, $colcount: 2, $colgap: $gutterwidth, $columnRuleWidth: 0);
}

.copy {

  .privacy {
    margin-bottom: 0px;
    text-align: center;
  }

}

.connect-facebook {
    text-align: center;

    i {
        color: $secondarycolor;
        vertical-align: middle;
    }
}

.call-to-action {
    text-align: center;
    .btn {
      font-size: 1.6em;
    }
}

.social-icon {

    color: $midneutralcolor;

    &.social-icon-connected {
        i {
            color: $secondarycolor;
        }
    }

    text-align: center;

}

.modal {
  position: absolute;
  top: 10%;
}

@media all and (min-height: 600px) {
  .modal {
    position: fixed;
  }
  .modal-body {
    max-height: 600px;
    overflow-y: auto;
  }
}

