
.demo8-outer {
  background-color: #EEE;
  color: #FFF;
  position: absolute;
  width: 100%;
  height: 100%;
  font: 28px/1em "Helvetica";
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}

.demo8 {
  display: table;
  min-height: 15em;
  clear: both;
  overflow: auto;
  width: 100%;
  align-items: center;
}

.demo8-item-common {
  flex: 1;
  overflow: visible;
  visibility: hidden;
  pointer-events: auto;
  transform-origin: 10% 50% 0px;
  border-radius: 4px;
  border-color: rgb(153, 153, 153);
  padding: 5px;
  margin: 5px;
  line-height: 30px;
  font-size: 14px;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 85%;
  box-shadow: rgba(0, 0, 0, 0.2);

  .post-media {
    text-align: center;
    img {
      margin: 10px;
      max-height: 100px;
      max-width: 100px;
    }
  }
}

.demo8-item {
  @extend .demo8-item-common;
  position: absolute;
  visibility: visible;

}
.demo8-item-static {
  @extend .demo8-item-common;
  visibility: visible;
}

.link {
  position: absolute;
  color: rgb(76, 76, 76);
  text-decoration: none;
  font: 14px/1em "Helvetica";
  padding: 10px;
  top: 0;
  left: 0;
}

.reorderImage {
  max-height: 100px;
  width: auto;
  //max-width: 50px;
}

.question-navigation {
  text-align: center;
  display: flex;

}

.question-navigation-button {
  flex-basis: 0;
  flex-grow: 1;
}

.timeline-date-container {
  display: table;
  width: 100%;
}

.timeline-date-left {
  text-align: right;
  display: table-cell;
  width: 48%;

}

.timeline-date-separator {
  text-align: center;
  display: table-cell;
  width: 4%;

}

.timeline-date-right {
  text-align: left;
  display: table-cell;
  width: 48%;

}

.post-page-thumbnail {
  max-height: 40px;
  max-width: 40px;
}

.post-table {
  td {
    padding: 10px;
  }
}

$correct-color: rgb(218, 255, 157);
$wrong-color: rgb(255, 138, 132);
$grey-border: #b8b8b8;

@mixin order-item($color) {
  border-right: 10px solid $color;
  flex: 1;
  width: 100%;
  overflow: visible;
  pointer-events: auto;
  transform-origin: 10% 50% 0px;
  border-radius: 4px;
  color: rgb(153, 153, 153);
  padding: 5px;
  margin: 5px;
  line-height: 30px;
  font-size: 14px;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}

.correct-order {
  @include order-item($correct-color);

}

.wrong-order {
  @include order-item($wrong-color);
}

.button-correct {
  @include button-variant(#000000, $correct-color, $grey-border);
}

.button-wrong {
  @include button-variant(#000000, $wrong-color, $grey-border);
}

.user-answered {
  background-color: lighten($primarycolor, 65%);
}

.enemy-answered {
  background-color: lighten($secondarycolor, 55%);
}

.both-answered {
  background-color: lighten($both-played-color, 80%);
}

.trigger-ring {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 1.41421;
}

.trigger-ring-element-empty {
  fill: $empty-color;
}

.trigger-ring-element-user-conquered {
  fill: $primarycolor;
}

.trigger-ring-element-enemy-conquered {
  fill: $secondarycolor;
}

.trigger-ring-element-both {
  fill: $secondarycolor;
}

#mapid { height: 300px; }

