
$mobile-screen-max: 768px;

.mobile-only-block,
.mobile-only-inline,
.mobile-only-inline-block {
  display: none;
}

@media (max-width: $mobile-screen-max) {

  body {
    overflow: hidden;
  }

  p, .p {
    font-size: 1.6rem;
    line-height: 1.3em;
  }

  h4, .h4 {
   font-size: 1.5rem;
  }

  h5, .h5 {
   font-size: 1.4rem;
  }

  h6, .h6{
   font-size: 1.2rem;
  }

  input.search-query {
    padding: 0;
  }

  .welcome {
    margin: 19px 5px;
  }

  .board .cell i {
    top: 36%;
    left: 39%;
    width: 20px;
    height: 20px;
    font-size: 28px;
  }

  .board .cell img {

  }

  .well {
    position: absolute;
    top: 0;
    left: 14px;
    right: 14px;
    bottom: 64px;
    overflow: hidden;
    margin: 14px 0 0 0;
    padding: 14px;

    ul.games, ul.join-requests {
      max-height: 94%;
    }
  }

  .well p, .players p {
    font-size: 1.4rem;
  }

  .players {
    padding: 1em 0 0 0;

    .player {
      padding: 0 0 0.8em 0;
    }

    .player.turn {
      background: none;
    }

    img {
      width: 40px;
      height: 40px;
    }
  }

  ul.join-requests, ul.games {
    max-height: 100%;

    li {
      padding: 5px 0 0 0;
      margin: 5px 0 0 0;
    }
  }

  .notifications {
    margin: 1em 0 0 0;
  }

  #navigation-toggle ul.menu > li {
    display: none;
    float: none;
  }

  #navigation-toggle ul.menu > li.branding {
    display: block;
    float: left;
    margin-right: 10px;

    img {
      height: 40px;
      width: 40px;
      margin-top: 3px;
    }
  }

  #navigation-toggle ul.menu > li.manage-game {
    float: none;
    display: block;
    text-align: left;
    margin-right: 0;
  }

  #navigation-toggle ul.menu > li span.start-game {
    display: block;
    text-align: left;
    margin-right: 0;
  }

  .manage-game > span > span {
    display: none;
    &.start-game {
      display: block;
    }
  }

  .start-game > span {
    display: none;
  }

  .friends-autocomplete {
    display: block;
  }

  .friends-autocomplete input {
    width: 80%;
  }

  .modal.fullscreen,
  .modal.fullscreen.fade.in,
  .modal.fullscreen .modal-dialog {
    @include fullscreen(1%);
  }

  .modal.end-game, .modal.error {
    @include modal-fullscreen(1%);
  }

  ul.answers li, ul.avatar-answers li {
    float: none;
    width: 100%;
    margin-right: 0;
    clear: all;

    &:nth-child(even) {
      margin-left: 0;
    }
  }

  .players > div {
    width: 50%;
    float: left;
  }

  .dashboard-main {
    margin: 0
  }

  .board {
    margin: 2em 0;

    .square-col i {
      font-size: 2em;
    }
  }

  #footer {
    height: 50px;
    padding: 0;
    border-top: 1px solid #ccc;

    .navbar-nav {
      margin: 0;

      li {
        margin: 0;
        padding: 0;
        width: 25%;
        float: left;
        text-align: center;

        a {
          display: block;
          padding: 0;
          height: 50px;
          line-height: 50px;
          font-size: 9px;

          .glyphicon {
            display: block;
            padding-top: 8px;
            font-size: 18px;
          }

          .tab-title {
            display: block;
            margin-top: -14px;
          }
        }
      }
    }
  }

  .feedback-btn {
    display: none;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only-block {
    display: block;
  }

  .mobile-only-inline {
    display: inline;
  }

  .mobile-only-inline-block {
    display: inline-block;
  }

}

